<img src="https://www.agenciacrow.com.br/themes/agencia-crow/assets/images/tech/nodejs.png" alt="Logo do Blog do Node.js" style="width: 100px;">

<p>{{message}}</p>

<span class="font-italic">Atenciosamente equipe do Blog do Node.js</span>

<a href="http://localhost:8080">
    <button type="button" class="btn btn-primary btn-lg">Retornar ao Blog do Node.js</button>
</a>